---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Hero4 from '~/components/widgets/Hero4.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Inicio',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!-- Hero3 Widget ******************* ~/assets/images/Ordenador_Colegiacion.png-->

  <Hero4
    tagline="Le damos la bienvenida a"
    actions={[
      {
        variant: 'primary',
        text: '¿Tiene una incidencia? <svg class="h-12 w-12 text-red-300"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />  <line x1="12" y1="9" x2="12" y2="13" />  <line x1="12" y1="17" x2="12.01" y2="17" /></svg>',
        href: 'https://incidencia.app/incidencia/',
        target: '_blank',
      },
      { text: '<svg class="h-12 w-12 text-green-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/></svg> Actualización de datos', href: 'https://datos.ruizlizondo.com',target: '_blank',}
    ]}
    image={{ src: 'https://picsum.photos/seed/picsum/1900/850', alt: 'Contrata un Adminsitrador de Fincas Colegiado' }}
  >
  <Fragment slot="title">
    <span class="text-white text-left sm:text-center "> GAF <span class="inline xl:hidden"><br /></span>Ruiz Lizondo</span>
    <span class="hidden xl:inline"><br /><span class="text-white">Administradores de Fincas </span><span class="text-red-800 dark:text-white highlight">Colegiados</span> </span>
  </Fragment>

    <Fragment slot="subtitle" >
      <span class=" text-white">
      <span class="hidden sm:inline">
        Con nuestros años de experiencia, nuestra profesionalidad, y nuestros medios técnicos gestionados con vocación de excelencia conseguimos prestar un servicio de calidad y de plena satisfacción en la </span>
      <span class="font-semibold">Administración de Fincas en Zaragoza</span> .
       <br />Más de <span class="font-semibold">40 años de experiencia</span> nos permiten saber cómo lograr tu tranquilidad.
      </span> 
      </Fragment>
  </Hero4>

  <!-- Note Widget ******************* -->

  <Note />

  </Layout>
