---
import { SITE } from '~/utils/config';
import logoURL from '~/assets/images/logo/icono_blanco_negro.png';
console.log("logoURL:", logoURL);
---
<!--
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <img src={logoURL.src} width=75  alt="Logo de Ruiz Lizondo" /> {SITE?.name}
  
</span>
-->
<div class="flex items-center">
    <img src={logoURL.src} alt="Logo de Ruiz Lizondo" class="h-6 w-auto" />
    <span class="ml-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white">
      {SITE?.name}
    </span>
  </div>