---
import { SITE } from '~/utils/config';
import logoURL from '~/assets/images/logo/icono_blanco_negro.png';
console.log("logoURL:", logoURL);
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {SITE?.name}<br />
  <img src={logoURL.src} width=125  alt="Logo de Ruiz Lizondo" />
</span>